@import 'variables';

#chat-controls {
    margin-top: 3px;

    & .typing-notify {
        color: $color-white-text;
        background: none;
        
        & .notify-text {
            font-size: 13px;
        }

        & .dot {
            color: $color-white-text !important;
            width: 4px;
            height: 4px;
        }
    }
}
  
#chat-form {
    margin: 0 4px 4px;
    padding-bottom: 20px;

    & #chat-message {
        outline: none;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}