$background-whisper: #F2F5D3;
$background-normal: #F1F1F1;
$background-emote: rgb(245, 228, 211);
$background-me: #D3E5F5;

$top-border-whisper: #F0F092;
$top-border-normal:#E1E1E1;
$top-border-emote: rgb(240, 195, 146);
$top-border-me: #B1D9FA;

$color-timestamp: rgb(102, 102, 102);
$color-whisper-targets: rgb(78, 78, 78);
$color-emote: rgb(101, 62, 16);
$color-text: rgb(64, 64, 64);
$color-white-text: #ececec;

$roll-template-border: #aaa;
$roll-template-background:  #f8f8f8;

$avatar-width: 28px;

$background-combatant-active: rgba(227,38,54, .5);
$background-combatant: rgba(0,0,0,.25);
$color-combatant-active: #eee;